*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100vw;
    height: 40px;
}

.button{
    width : 70px;
    height: 30px;
    margin-top: 1vw;
}

.div{
    width : 30vw;
}